<!-- Login Form -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-sm-12 col-md-4">
            <form #loginForm="ngForm" (ngSubmit)="authenticate()">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input name="login" class="form-control"
                        required [(ngModel)]="login" #loginfc="ngModel" >

                    <div *ngIf="loginfc.invalid && (loginfc.dirty || loginfc.touched)"
                        class="alert alert-danger">
                        <div *ngIf="loginfc.errors.required">
                            Login required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control"
                        required [(ngModel)]="password" #passwordfc="ngModel" >

                    <div *ngIf="passwordfc.invalid && (passwordfc.dirty || passwordfc.touched)"
                        class="alert alert-danger">
                        <div *ngIf="passwordfc.errors.required">
                            Password required.
                        </div>
                    </div>
                </div>

                <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-success">Login</button>
                <button routerLink="/" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</div>
