<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-sm-12 col-md-4">
            <form #createMemberForm="ngForm" (ngSubmit)="onSubmit(createMemberForm)">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" class="form-control"
                        required [(ngModel)]="member.firstName" #firstName="ngModel" >

                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">
                            First name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" class="form-control"
                        required [(ngModel)]="member.lastName" #lastName="ngModel" >

                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">
                            Last name is required.
                        </div>
                    </div>
                </div>

                <button [disabled]="!createMemberForm.form.valid" type="submit" class="btn btn-success">Create</button>
                <button routerLink="/dashboard" class="btn btn-primary">Cancel</button>
            </form>
        </div>
    </div>
</div>
