<mat-toolbar color="primary">
    <span>Sogeti | Team Level</span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/team-members">Team Members List</button>
    <button *ngIf="isConnected; else anonymousBlock" 
        mat-button routerLink="/settings">
        Settings
    </button>
    <button *ngIf="isConnected;"
        mat-button (click)="logOut()">
        Log out
    </button>
    <ng-template #anonymousBlock>
        <button mat-button routerLink="/login">Login</button>
    </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
