<div *ngIf="teamMember">
  <button mat-button (click)="goBack()">
    go back
  </button>
  <h3>{{teamMember.firstName}} {{teamMember.lastName}} details</h3>

  <div>
    <h4>Skills</h4>

    <ul>
      <li *ngFor="let s of teamMember.skills">
        <strong>{{s.name}}</strong> {{s.level}}
      </li>
    </ul>
  </div>

</div>