<!-- Responsive layout here for displaying first team members -->
<div class="container-fluid">
  <div class="row row-spaces">
    <h2>Here is the top of our members</h2>
  </div>
  <div class="row row-spaces">
    <div class="col-xs-1 col-md-3" *ngFor="let t of teamMembers">
      <h3>{{ t.firstName }} {{ t.lastName }}</h3>
      <button routerLink="/member/{{t.id}}" class="btn btn-primary">More</button>
    </div>
  </div>
</div>

<!-- Informations -->
<div class="row row-spaces">
  <div class="col-sm-12 col-md-6" *ngIf="isConnected">
    <div class="jumbotron">
        <p>Starts with adding a new team member and its skills</p>
        <a routerLink="/create-member" class="btn btn-primary">Build Team</a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron">
      <p>Consult the rest of the team and their skills</p>
      <a routerLink="/team-members" class="btn btn-primary">View Team</a>
    </div>
  </div>
</div>
