<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-md-3" *ngFor="let t of teamMembers">
      <h3>{{ t.firstName }} {{ t.lastName }}</h3>
      <button routerLink="/member/{{t.id}}" class="btn btn-primary">More</button>
    </div>
  </div>
</div>
<!-- <app-team-member-detail [teamMember]="selectedTeamMember"></app-team-member-detail> -->